<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Geo_Gold_Team</title>
       
    <link rel="stylesheet" href="{{url_for('static',filename='css/material.min.css')}}">
    <script src="{{url_for('static',filename='js/material.min.js')}}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/materialize.css')}}"  media="screen,projection"/>
	<script type="text/javascript" src="{{url_for('static',filename='js/materialize.js')}}"></script>
    <style>
     .page-footer
          {
            background-color: #a7ffeb;
          }
          .container
          {
            background-color: #004d40;
          }

        body 
          {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
          }
          nav
          {
            background-color: #004d40 ;
          }
  </style>
  </head>
  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Universal App Conveter</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      <li><a href="/home"> <i class="medium material-icons">arrow_back</i></a></li>
      </ul>
    </div>
  </nav>
<h4 class="title">About</h4>
  <hr style="height: 3px; background-color: #CD919F;">
    <div class="row">
    <div class="col s12 m4">
      <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
	    <img class="activator" src="{{url_for('static',filename='img/team/3.PNG')}}" alt="">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">May Thu Tun<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/MayThuHtun">Visit</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">May Thu Tun<i class="material-icons right">close</i></span>
      <p>I am team leader.Our team create Myanmar Language Tools.My role is Team leading, Lead Dev and DevOps
     </p>
    </div>
  </div>
</div>
<div class="col s12 m4">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
	    <img class="activator" src="{{url_for('static',filename='img/team/6.PNG')}}" alt="">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Sandar Soe<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/SandarSoe">Visit</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Sandar Soe<i class="material-icons right">close</i></span>
      <p>I am team member.Our team create Myanmar Language Tools.My role is developer responsibility.
</p>
    </div>

  </div>
</div>
<div class="col s12 m4">
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
	    <img class="activator" src="{{url_for('static',filename='img/team/5.PNG')}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Nyo Nyo Htwe<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/NyoNyoHtwe">Visit</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Nyo Nyo Htwe<i class="material-icons right">close</i></span>
      <p>I am team member.We create Myanmar Language Tools.My role is developer responsibility.</p>
    </div>
  </div>
</div>
</div>
<div class="row">
    <div class="col s12 m4">
      <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{url_for('static',filename='img/team/2.PNG')}}" alt="">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Marlar<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/Marlar22">Visit</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Marlar<i class="material-icons right">close</i></span>
      <p>I am UI/UX leader.We create Myanmar Language Tools.My role is UI/UX design.

</p>
    </div>
  </div>
</div>
<div class="col s12 m4">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
	    <img class="activator" src="{{url_for('static',filename='img/team/4.jpg')}}" alt="">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">May Mon Thu<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/maymonthu">Visit</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title greMay y-text text-darken-4">May Mon Thu<i class="material-icons right">close</i></span>
      <p>I am team member.We create Myanmar Language Tools.My role is UI/UX design.

</p>
    </div>

  </div>
</div>
<div class="col s12 m4">
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
	    <img class="activator" src="{{url_for('static',filename='img/team/7.PNG')}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Phue Phue Khaing Min<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com">Visit</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Phue Phue Khaing Min<i class="material-icons right">close</i></span>
      <p>I am team member.We create Myanmar Language Tools.My role is Test & Documentation</p>
    </div>
  </div>
</div>
</div>
<footer class="page-footer">
      
      <div class="container">
        
        <div class="row">
          
          <div class="col s3">
               
            <h5 class="white-text">Features</h5>
              <ul>
		      <li><a class="grey-text text-lighten-3" href="partner">Partners</a></li>
                  
              </ul>
          </div>
          
          <div class="col  s3">
               
            <h5 class="white-text">Details</h5>
              <ul>
		      <li><a class="grey-text text-lighten-3" href="/resources">Resource</a></li>
                  
		      <li><a class="grey-text text-lighten-3" href="/tools">Tools</a></li>
                  
              </ul>
          </div>
          
          <div class="col  s3">
               
            <h5 class="white-text">Technology</h5>
              <ul>
		      <li><a class="grey-text text-lighten-3" href="/work">How it work</a></li>
                  
              </ul>
          </div>
          
          <div class="col s3">
               
            <h5 class="white-text">FAQ</h5>
              <ul>    
		      <li><a class="grey-text text-lighten-3" href="/question_and_answer">Questions & Answers</a></li>
                  
              </ul>
          </div>
            
        </div>
      
      </div>
      
      <div class="footer-copyright">
        
        <div class="container">
          
          @ 2018 CUMDY Interns
          
            <a class="grey-text text-lighten-4 right">Goe-Gold Team</a>
        
        </div>

      </div>
    
    </footer>
    <!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
   </body>
</html>
