<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/materialize.min.css')}}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <style>
    nav
          {
            background-color: #004d40 ;
          }
          .page-footer
          {
            background-color: #a7ffeb;
          }
          .container
          {
            background-color: #004d40;
          }

        body
          {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
          }
  </style>
    </head>

    <body>
      <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Universal App Conveter</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      <li><a href="/home"> <i class="medium material-icons">arrow_back</i></a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
		<img src="{{url_for('static',filename='img/team/Capture.PNG')}}">
        </div>
      </div>
    </div>
  </div>
  <div>
     <div class="row">
    <div class="col s12 m15">
      <div class="card pink lighten-3">
        <div class="card-content white-text">
          <span class="blue-text text-darken-2"><h3 class="faq-heading">What Do You offer?</h3>
</span>
          <h5><p>We offer the users to convert their Myanmar Languages such as Zawgyi , Unicode and WinnInwa</p></h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="col s12 m15">
      <div class="card pink lighten-3">
        <div class="card-content white-text">
          <span class="blue-text text-darken-2"><h3 class="faq-heading">How does your process works?</h3>
</span>
<h5><p style="font-style: normal;">We create our design in simple way so that users can use it easily.For example, if a user wants to convert Zawgyi from Unicode , user can select from the dropdown box , write their Zawgyi version on the input textarea and click the convert button.Ther3 the user can see the result at the output textarea.</p></h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="col s12 m15">
      <div class="card pink lighten-3">
        <div class="card-content white-text">
          <span class="blue-text text-darken-2"><h3 class="faq-heading">Can you translate into Myanmar  languages?</h3>
</span>
<h5><p style="font-style: normal;">Myanmar  language Tool is able to translate  into three types of Myanmar languages. We have carried out translation jobs perfectly. So we think , it will be really helpful for users.</p></h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="col s12 m15">
      <div class="card  pink lighten-3">
        <div class="card-content white-text">
          <span class="blue-text text-darken-2"><h3 class="faq-heading">And what if I don’t receive my translations on time?</h3>
</span>
<h5><p style="font-style: normal;">
            This kind of problem sometimes arises when a translator or proof-reader has problems with their Internet connection. But in case, if this kind of problem happens, please contact us with  your email.</p></h5>
        </div>
      </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="col s12 m15">
      <div class="card pink lighten-3">
        <div class="card-content white-text">
          <span class="blue-text text-darken-2"><h3 class="faq-heading">How far will your website help us?</h3></span>
<h5><p style="font-style: normal;">If you have an urgent translation , do not wait for a moment. Just link into our site , translate  your types of languages easily.</p></h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="col s12 m15">
      <div class="card pink lighten-3">
        <div class="card-content white-text">
          <span class="blue-text text-darken-2"><h3 class="faq-heading">Do you offer any other services?</h3>
</span>
<h5><p style="font-style: normal;">Well, we have just started to do the converting service . But if we offer other services, we will add at the website.</p></h5>
        </div>
      </div>
    </div>
  </div>
</div>

      <!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
    </body>
  </html>
        
